.loginSection {
  background-color: var(--blue);
  height: 100vh;
  width: 100vw;
}
.loginSvg {
  position: absolute;
  bottom: 9%;
  left: 0;
  width: 100vw;
}
.orange {
  background-color: var(--orange);
  height: 10%;
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: 200;
}
.loginForm {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loginForm > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: scale(1.3);
  z-index: 2000;
  margin-bottom: 50px;
}
.loginForm > form > label {
  font-size: 140%;
  color: #ffff;
  text-transform: uppercase;
  font-family: "Consolas";
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}
.loginForm > form > input {
  border: none;
  height: 1.5em;
  width: 140%;
  border-radius: 20px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.418);
  text-indent: 10px;
}
.loginForm > form > input:focus {
  outline: none;
}
.loginForm > form > button {
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 25px;
  background-color: var(--orange);
  color: #ffff;
  width: 20vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.472);
  font-family: "Consolas";
  font-weight: 900;
  font-size: 100%;
  transition: all 0.2s;
  cursor: pointer;
}
.loginForm > form > button:hover {
  transform: translateY(-2px);
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  z-index: 1000;
}
.getHelp {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  color: rgba(255, 255, 255, 0.678);
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.getHelp:hover {
  color: rgb(255, 255, 255);
}
.logo {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  margin-left: 20px;
}
.logo > img {
  height: 40px;
  width: 40px;
}
