.standard-modal-container {
	min-width: 100%;
	width: 100%;
	height: 100%;
	font-family: Consolas;
	font-size: 18px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9;
	overflow: hidden;
}

.standard-modal-transition-bg {
	animation: bg-fade-in 0.5s;
}

.delete-span {
	margin-top: 5px;
	opacity: 0.5;
	color: rgb(0, 35, 61);
	cursor: pointer;
	transition: all 0.1s ease;
}

.delete-span:hover {
	opacity: 0.8;
}

@keyframes bg-fade-in {
	from {
		background-color: rgba(0, 0, 0, 0);
	}

	to {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

.standard-modal-transition {
	-webkit-animation: modal-popup 0.5s;
	animation: modal-popup 0.5s;
}

@-webkit-keyframes modal-popup {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@keyframes modal-popup {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.standard-modal {
	background-color: var(--backgroundColor);
	width: 40%;
	padding: 0.1em 0.1em 0.1em 0.1em;
	color: var(--textColor);
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 2px 4px rgba(19, 19, 19, 0.575);
	border-radius: 15px;
}



.standard-modal-icon>svg {
	width: 40px;
	height: 40px;
	margin-top: 1.5em;
	margin-bottom: 0.25em;
}

.svg-animation>div>svg {
	-webkit-animation: svg-in 1s ease-in-out;
	animation: svg-in 1s ease-in-out;
}

@-webkit-keyframes svg-in {
	from {
		opacity: 0;
		-webkit-transform: scale(0) rotate(0deg);
	}

	to {
		opacity: 1;
		-webkit-transform: scale(1) rotate(360deg);
	}
}

@keyframes svg-in {
	from {
		opacity: 0;
		transform: scale(0) rotate(0deg);
	}

	to {
		opacity: 1;
		transform: scale(1) rotate(360deg);
	}
}

.icon-hide {
	display: none;
}

.standard-modal>h3 {
	margin-top: 3vh;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 3vh;
	text-align: center;
}

.standard-modal-btn-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.standard-modal-btn {
	display: flex;
	flex-direction: column;
	border-style: none;
	color: white;
	font-size: 14px;
	background-color: var(--blue);
	border: 0;
	padding: 1em;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 2.5vw;
	margin-bottom: 2vw;
}

.standard-modal-btn:first-child {
	margin-right: 15px;
}

.loader-format {
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 60%;
	overflow-y: scroll;
	background-color: rgba(144, 144, 144, 0.041);
	border-radius: 5px;
}

.filter_list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 60%;
	overflow-y: scroll;
	background-color: rgba(144, 144, 144, 0.041);
	border-radius: 5px;
}

.list>li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.list>li>.form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	width: 80%;
}

.filter_list>li>.filter_form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 3px;
	margin-bottom: 10px;
}

.list>li>.form>input {
	min-width: 70%;
	margin-left: 3px
}

.filter_list>li>.filter_form>input {
	max-width: 50%;
	margin-left: 3px;
	font-family: Consolas;
}

.filter_list>li>.filter_form>p {
	margin-left: 10px;
	font-family: Consolas;
}

.filter_list>li>.filter_form>p:nth-child(2) {
	margin-left: 70px;
	font-family: Consolas;
}

.extra_field_filter_button {
	margin-right: 5px;
	border-radius: 10px;
	border: 1px solid rgba(117, 117, 117, 0.199);
	box-shadow: 0px 0px 10px rgb(117 117 117 / 33%);
	background-color: white;
	margin-top: 0;
}

.extra_field_filter_button>svg {
	fill: grey;
}

.new_extrafield {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.new_extrafield * {
	margin: 2px;
}


@media (max-width: 1120px) {
	.new_extrafield {
		flex-direction: column;
	}

	.new_extrafield * {
		margin: 5px;
		width: 50%;
	}
}


@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.commit-loader-hide {
	display: none;
}

.loader-spin {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}