.pr-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.pr-header{
    width: 90%;
    height:30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;
}
.pr-header-logo img{
    width: 8vh;
    height: 8vh;
}
.pr-header h1{
    width: 100%;
    font-size: 2.2rem;
    font-weight: bold;
    color: #2f2f2f;
    z-index: 99999;
}
.pr-header h2{
    width: 100%;
    font-size: 1.2rem;
    color: #2f2f2f;
}
.pr-body{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}
.pr-body form{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    background-color: #f5f5f5;

    text-align: center;
}
.pr-body form label{
    font-size: 1rem;
    font-weight: bold;
    color: #2f2f2fa2;
    padding-bottom: 5px;
}
.pr-body form input{
    width: 80%;
    height: 4vh;
    border-radius: 5px;
    box-shadow: 0px 1px 3px #2f2f2f15;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
}
.pr-email{
    width: 100%;
    height: 3vh;
    font-size:1.4em !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    color: #0089de70 !important;
}
.pr-button{
    width: 50%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    line-height: 1;
    padding: 16px 48px 18px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
@media (min-width: 600px) {

    .pr-header{
        width: 60%;
    }
    .pr-header h1{
        font-size: 3rem;
    }
    .pr-header h2{
        font-size: 1.5rem;
    }
    .pr-body{
        width: 60%;
    }
    .pr-body form{
        width: 60%;
    }
    .pr-body form input{
        width: 75%;
    }
    .pr-button{
        width: 60%;
    }
    .pr-email{
        width: 60%;
    }
        
 }
