.main-chat-container {
	width: 100%;
	font-family: "Consolas";
	margin: 0;
	overflow-y: scroll;
}

svg {
	cursor: pointer;
}

#navbar {
	display: none;
}

.main-chat-messages-container {
	margin-top: 12.5vh;
	height: 77.1vh;
	max-height: 78vh;
	overflow-y: scroll;
	/* Firefox */
	scrollbar-width: none;
	scroll-behavior: smooth;
}

/* Chrome, Safari, Edge, Opera */
.main-chat-messages-container::-webkit-scrollbar {
	display: none;
}

.main-chat-messages-container>div:first-child {
	padding-top: 0.8em;
}

.main-chat-messages-container>div:last-child {
	padding-bottom: 0.8em;
}

.main-chat-input-container {
	width: 100%;
	height: 10vh;
	z-index: 999999;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(79, 79, 79);
}

.main-chat-input-container>.main-chat-input-text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.main-chat-input-container>.main-chat-input-text>textarea {
	width: 70%;
	height: 48px;
	font-size: 20px;
	font-family: "Consolas";
	border-radius: 10px;
	color: var(--textColor);
	background: var(--backgroundColor) !important;
	box-shadow: none;
	border: none !important;
	resize: none !important;
	margin-right: 7.5px;
}

.main-chat-input-container>.main-chat-input-text>textarea:focus {
	outline: 0px solid transparent;
}

.main-chat-attachment-button {
	margin-bottom: 2.05vh;
}

.main-chat-attachment-button>svg {
	fill: var(--orange);
	z-index: 500;
	/* Chrome */
	transform: scale(250%) rotate(45deg);
	/* Firefox, Safari */
	-webkit-transform: scale(2.5) rotate(45deg);
	right: 91%;
	position: absolute;
	height: 20%;
}

.main-chat-send-button>svg {
	fill: white;
	z-index: 500;
	/* Chrome */
	transform: scale(270%) rotate(45deg);
	/* Firefox, Safari */
	-webkit-transform: scale(2.7) rotate(45deg);
	background-color: var(--blue);
	border-radius: 50%;
	left: 90%;
	bottom: 4vh;
	position: absolute;
}