<<<<<<< HEAD
.resource_item{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgb(151, 148, 148);
    flex-direction: row;
    width: 80%;
    height: 10vh;
}
.resource_item >*{
    flex: 1;
}
.resources_container{
    width: 100%;
    height: 100%;
    
}
.resources_container >ul{
    list-style: none;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;

=======
.resources-container{
    
>>>>>>> 483d5af6535c6cb397c4ae968332230066df2584
}