.desktopSection{
    height: 100vh;  
}
.calendar{
    background-color: var(--backgroundColor);

}
.button-menu{
    position: relative;
    width:50px;
    height:50px;
    color: var(--textColor);
}
.paper{
    background-color: var(--backgroundColor);
}
