.selected-main-container {
    width: 100vw;
    height: 100vh;
    font-family: Consolas;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999999999999999999;
    overflow: hidden;
}

.selected-container {
    background-color: var(--backgroundColor);
    max-width: 40%;
    width: 100%;
    padding: 0.1em 0.1em 0.1em 0.1em;
    color: var(--textColor);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--textColor);
    margin-bottom: 5em;
    margin-right: 15em;
    border-radius: 15px;
}

.selected-container-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
    flex-direction: column;
}

.selected-container-body-option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: .2em;
}

.selected-container-body-option>button {
    background-color: var(--blue);
    padding: 10px;
}

.selected-container-body-option>button:first-child {
    margin-right: 5em;
    padding-left: 2em;
    padding-right: 2em;
}

.select-modal-button-close {
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 2em;
}

.select-modal-button-close>button {
    background-color: red;
}