table {
    margin-left: 40px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.add-chat {
    display: flex;
    flex-direction: row;
}

.actionsAndSubmit {
    display: flex;
    flex-direction: row;
}

.chatButton>select {
    border: .5px solid black;
    border-radius: 3px;
    text-align: left;
}

.chatConfig-main-container {
    position: absolute;
    z-index: 0;
}

.alert-delete {
    top: 0;
    width: 82.5%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 1;
    background-color: #a1a1a11c;
}

.contianer-alert-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    margin-left: 25em;
    width: 30%;
    background-color: white;
    border: 1px solid rgb(111, 95, 95);
    border-radius: 10px;
    padding: 2%;
    font-size: 15px;
    font-family: "Consolas";
}

.contents-continer-button-alert-delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contents-continer-button-alert-delete>p {
    border: 1px solid rgb(111, 95, 95);
    border-radius: 5px;
    cursor: pointer;

}

#delete_contents {
    padding: 2%;
    margin-right: 2em;
}

#close_alert {
    padding: 2% 3% 2% 3%;
}