.cp-container {
  width: 100vw;
  height: 100vh;
}
.cp-container > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cp-container > div > div > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  border: none;
  background-color: orange;
  color: white;
  padding: 10px 20px;
  font-weight: 700;
  font-family: "Consolas";
  margin-top: 10px;
}

.hidden {
  display: none !important;
}
