.old_navbar-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20vh;
    width: 3em;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }
  .old_navbar-container > * {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: orange;
  }
  .old_logo {
    flex: 1;
    cursor: default;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    pointer-events: none;
  }
  .old_logo:hover {
    background-color: transparent;
  }
  .old_logo > img {
    width: 100%;
    height: 100%;
  }
  .old_navbar-container > *:hover {
    background-color: rgb(153, 99, 0);
  }
  .old_navbar-container > * > svg {
    fill: white;
  }
  
  .old_active {
    background-color: rgb(153, 99, 0);
  }