.scheduletoolbar-container {
	display: flex;
	flex-direction: column;
	font-family: Consolas;
	margin-top: 5vh;
	width: 75vw;
	position: absolute;
	right: 3vw;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(117, 117, 117, 0.329);
	border: 1px solid rgba(117, 117, 117, 0.199);
	overflow-y: hidden;
	overflow-x: auto;
}

.scheduletoolbar-container>h1 {
	margin-left: 40px;
	color: rgba(117, 117, 117, 0.471);
}

.scheduletoolbar-ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	height: 100%;
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
	padding: 18px 20px;
}

.scheduletoolbar-ul>li {
	margin-right: 50px;
	display: flex;
	justify-content: center;
	background-color: rgb(191, 191, 191);
	border-radius: 10px;
}

.scheduletoolbar-ul::after {
	content: ".";
	width: 25px;
	opacity: 0;
	height: 5px;
}

.scheduletoolbar-ul>li>p {
	color: white;
	width: 80px;
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
	cursor: pointer;
}

.searchbar-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: white !important;
	box-shadow: 0px 0px 10px rgba(117, 117, 117, 0.329);
	border: 1px solid rgba(117, 117, 117, 0.199);
	padding: 10px 13px;
}

.searchbar_toolbar {
	background-color: rgba(237, 237, 237, 0) !important;
}

.searchicon {
	position: relative;
	margin-left: 10px;
	color: rgb(51, 122, 255)
}

.subjectbar-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: white !important;
	box-shadow: 0px 0px 10px rgb(117 117 117 / 33%);
	border: 1px solid rgba(117, 117, 117, 0.199);
	padding: 10px 13px;
}

.subjectOption {
	border: none;
	box-shadow: none;
}

.check-button-container {
	background-color: #337aff;
	border-radius: 13px 0 0 13px;
	display: inline-block !important;
	padding: 13px 10px !important;
	cursor: pointer !important;
	border-radius: 0 !important;
	height: 100% !important;
	color: white;
}

.check-button-main {
	display: inline-block;
	background-color: #337affae;
	border-radius: 12px;
	border: none;
	padding: 5px 8px 5px 8px;
	outline: none;
	color: white;
	white-space: nowrap;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 10pt;
}