table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td,
th {
  border: 1px solid #dddddd76;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.eventList {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  overflow-y: scroll;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.schedule-table-info {
  height: auto;
}

.schedule-table-info>table>thead {
  /* display: block;
  flex-direction: row; */

}

.schedule-table-info>table>thead>tr {
  /* display: flex;
  flex-direction: row; */
  border: 1px solid #dddddd76;
  text-align: left;
}

.schedule-table-info>table>thead>tr>th {
  width: 180px;
}

.schedule-table-info>table>tbody {
  /* display: block; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  /* height: 45vh; */
  overflow-x: hidden;
  flex: 1;
}

.schedule-table-info>table>tbody>tr {
  /* display: flex;
  flex-direction: row; */
}

.schedule-table-info>table>tbody>tr>td {
  width: 180px;
}

.schedule-table-info>table>tbody>tr:nth-child(even) {
  background-color: #dddddd;
}