header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  z-index: 10000;
}
header > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10001;
  background-color: white;
  box-shadow: 0 3px 6px rgba(187, 187, 187, 0.219);
}
header > nav > a > .header-logo {
  margin: 15px;
  height: 60px;
  width: 60px;
}
header > nav > a > .header-logo > img {
  height: 100%;
  width: 100%;
}
header > nav > .profile-pic-button {
  height: 45px;
  margin: 20px;
  width: 45px;
  cursor: pointer;
}
header > nav > .profile-pic-button > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid var(--orange);
}

header > .profile-menu {
  display: flex;
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 10%;
  background-color: white;
  transform: translateY(-300px);
  transition: 0.3s all;
  z-index: 10000;
}

header > .profile-menu > ul {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 22px 0px;
  list-style: none;
  box-shadow: 0 5px 6px rgba(110, 110, 110, 0.171);
  background-color: #ffff;
}
.profile-menu > ul::before {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: rgba(75, 75, 75, 0.527);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -97%);
  top: 97%;
  border-radius: 30px;
}
header > .profile-menu > ul > li {
  font-size: 120%;
  text-transform: uppercase;
  font-family: "Consolas";
  font-weight: bold;
  border-radius: 30px;
  background-color: var(--orange);
  width: 30%;
  height: 11%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(114, 114, 114, 0.493);
  border: 2px solid rgba(255, 255, 255, 0.473);
  text-align: center;
  margin-top: 8px;
}
header > .profile-menu > ul > li > a {
  text-decoration: none;
  color: #ffff;
  font-weight: bold;
  text-indent: 0;
}
