.csv-reader-input > #react-csv-reader-input{
    display: inline-block !important;
    padding: 13px 10px !important;
    cursor: pointer !important;
    border-radius: 0 !important;
    height: 100% !important;
    color: white;
}

.csv-reader-input > #react-csv-reader-input::-webkit-file-upload-button {
    visibility: hidden;
    width: 15px;
  }
.csv-reader-input > #react-csv-reader-input::before {
    content: 'LOAD';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: none;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    color: white;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
  }
  .csv-reader-input > #react-csv-reader-input:hover::after{}
.csv-reader-input > #react-csv-reader-input:hover::before {
    border-color: black;
  }
.csv-reader-input > #react-csv-reader-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

.hidden{
  display: none !important;
}

.batch_modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
}

.batch_modal_content{
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
}

.batch_modal_header,.batch_modal_footer{
  padding: 10px;
}

.batch_modal_body{
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.close_button{
  margin-right: 10px !important;
  background-color: rgb(230, 47, 47) !important;
  border: 10px;
}

.csvLoaderButton{
  background-color: rgb(51, 122, 255);
  border-radius: 13px 0 0 13px;
}

.csvTemplate{
  margin-top: 0 !important;
  border-radius: 0 13px 13px 0;
}



.image_modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
}

.image_modal_content{
  border-radius: 10px;
}

.image_modal_header{
  padding: 10px;
  color: red;
}

.image_modal_body{
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.closeModal{
  background-color: rgba(255, 255, 255, 0) !important;
  color: rgb(255, 85, 85);
  position: fixed;
  transform: scale(1.5);
  padding-top: 35px;
  padding-right: 40px;
}