.profileSettings_container {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: var(--backgroundColor);
  transform: translateX(0px);
  transition: all 0.3s;
  z-index: 99999999999999;
}
.profileSettings_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}
.profileSettings__hidden {
  transform: translateX(150vw);
}
.profileImage_preview {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 20px;
  cursor: pointer;
}
#profileImage_upload {
  display: none;
}
.userProfileImg {
  display: flex;
  flex-direction: column;
}
.userProfileImg > .saveImage {
  margin-top: 20px;
}

.userName_input {
  margin: 50px;
}

.userName_input > input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid var(--textColor);
  transition: all 0.2s;
  transform: scale(1.3);
  text-align: center;
  font-weight: 700;
  background: none;
  color: var(--textColor);
}
.userName_input > input:focus {
  outline: none;
  border-bottom: 2px solid var(--blue);
}

.commitChanges {
  display: flex;
  padding: 10px 20px;
  background-color: var(--blue);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
