body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: Consolas;
	/* Safari */
	src: url("fonts/Consolas.woff") format("woff");
	/* Normal Browser */
	src: url("fonts/Consolas.ttf") format("ttf");
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--orange: #FF8139;
	--blue: #4B91FF;
	--textColor: #000;
	--backgroundColor: #fff;
	--shadowColor: rgba(158, 158, 158, 0.411);
	--secondaryColor: rgba(158, 158, 158, 0.311);
	--headerBackground: var(--blue);
	--headerButtonBG: white;
	--headerButtonFill: var(--blue);
	--navbarHeight: 12.2%;
}