.signupSection {
    background-color: var(--blue);
    height: 100vh;
    width: 100vw;
  }
  .signupSvg {
    position: absolute;
    bottom: 9%;
    left: 0;
    width: 100vw;
  }
  .orange {
    background-color: var(--orange);
    height: 10%;
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 200;
  }
  .signupForm {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .signupForm > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(1.3);
    z-index: 2000;
    margin-bottom: 50px;
  }
  .signupForm > form > label {
    font-size: 140%;
    color: #ffff;
    text-transform: uppercase;
    font-family: "Consolas";
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .signupForm > form > input {
    border: none;
    height: 2em;
    width: 140%;
    border-radius: 20px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.418);
    text-indent: 10px;
  }
  .signupForm > form > input:focus {
    outline: none;
  }
  .signupForm > form > button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background-color: var(--orange);
    color: #ffff;
    width: 20vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.472);
    font-family: "Consolas";
    font-weight: 900;
    font-size: 100%;
    transition: all 0.2s;
    cursor: pointer;
  }
  .signupForm > form > button:hover {
    transform: translateY(-2px);
  }
  
  .footer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100vw;
    z-index: 1000;
  }
  .getHelp {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    color: rgba(255, 255, 255, 0.678);
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .getHelp:hover {
    color: rgb(255, 255, 255);
  }
  .logo {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    margin-left: 20px;
  }
  .logo > img {
    height: 40px;
    width: 40px;
  }
  @media (max-width: 400px){
    .signupForm > form > input {
        border: none;
        height: 2em;
        width: 110%;
        border-radius: 20px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.418);
        text-indent: 10px;
      }
      .signupForm > form > button {
        width: 80%;  
      }
  }  
  @media (min-width: 1000px) {
    .signupForm > form {
      height: 40vh;
      width: 40vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.068);
      border-radius: 30px;
      z-index: 88888888;
      box-shadow: 0 2px 4px rgba(75, 75, 75, 0.596);
    }
    .signupForm > form > label {
      font-size: 140%;
      color: #ffff;
      text-transform: uppercase;
      font-family: "Consolas";
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .signupForm > form > input {
      border: none;
      height: 2.5em;
      width: 50%;
      border-radius: 20px;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.418);
      text-indent: 10px;
    }
    .signupForm > form > input:focus {
      outline: none;
    }
    .signupForm > form > button {
      padding: 10px;
      margin-top: 20px;
      border: none;
      border-radius: 25px;
      background-color: var(--orange);
      color: #ffff;
      width: 30%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.472);
      font-family: "Consolas";
      font-weight: 900;
      font-size: 100%;
      transition: all 0.2s;
      cursor: pointer;
    }
    .signupForm > form > button:hover {
      transform: translateY(-2px);
    }
  }
  #loginRedirectButton{
      color: rgba(255, 255, 255, 0.671);
  }
  #loginRedirectButton > a{

    color: var(--orange);
    opacity: 0.9;
    text-decoration: none;
    font-weight: 700;
    transition: all .2s ease-in-out;
  }
