.MenuHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  border-bottom: 3px solid rgba(189, 189, 189, 0.671);
  background-color: var(--headerBackground);
  align-items: center;
}
.MenuHeaderBack {
  width: 30px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  z-index: 999;
  flex: 0.3;
  cursor: pointer;
}
.MenuHeaderBack > svg {
  background-color: var(--headerButtonBG);
  fill: var(--headerButtonFill);
  padding: 10px 20px;
  transform: scale(1.3);
  padding: 7px 12px;
  border-radius: 10px;
}
.MenuHeaderName {
  flex: 1;
  width: 100%;
  display: flex;
  color: white;
  font-size: 140%;
  font-family: "Consolas";
  justify-content: flex-start;
  font-weight: 300;
  text-transform: uppercase;
}
