/* View */
.calendar-view-main-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.calendar-view-hidden {
    display: none;
}

.calendar-view {
    background-color: var(--backgroundColor);
    border-radius: 10px;
    box-shadow: 0 0px 5px var(--textColor);
    opacity: 1;
    transform: none;
    transition: opacity 280ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 186ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 145.898px 0px;
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

.calendar-view-header {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 5%;
    padding-right: 10%;
    margin-top: 2%;
}

.calendar-view-header-close-button {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.calendar-view-header-edit-button {
    width: 20px;
    height: 20px;
    fill: currentColor;
    margin-right: 15%;
    padding-right: 15%;
    border-right: 0.5px solid var(--textColor);
}

.calendar-view-contents {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.calendar-view-contents-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    font-family: "Consolas";
    color: var(--textColor);
}

.calendar-view-contents-header>svg {
    height: 3em;
    width: 3em;
    fill: var(--orange);
}

.calendar-view-contents-header>p {
    margin-left: 15px;
    text-decoration: none;
    font-weight: lighter;
    text-indent: 0;
    font-size: 20px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.calendar-view-contents-info {
    margin-left: 15%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.calendar-view-hour {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.calendar-view-hour>p {
    margin-left: 10px;
}

/* edit View */
.calendar-view-edit-hidden {
    display: none !important;
}

.calendar-view-edit-main-container {
    position: fixed;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.calendar-view-edit {
    overflow-y: scroll;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    box-shadow: 0 0px 5px var(--textColor);
    opacity: 1;
    transform: none;
    transition: opacity 280ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 186ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 145.898px 0px;
    width: 90%;
    height: 100vh;
}

.calendar-view-edit-header {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 5%;
    padding-right: 10%;
    margin-top: 13vh;
}

.calendar-view-edit-header-close-button {
    width: 25px;
    height: 25px;
    fill: currentColor;
}

.calendar-view-edit-header-delete-button {
    width: 25px;
    height: 25px;
    fill: currentColor;
    margin-right: 15%;
    padding-right: 15%;
    border-right: 0.5px solid var(--textColor);
}

.calendar-view-edit-contents {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    font-family: "Consolas";
    color: var(--textColor);
    margin-bottom: 12vh;
}

.calendar-view-edit-title {
    flex-direction: column;
    width: 100%;
    margin-top: 15%;

}

.calendar-view-edit-title>input {
    width: 90%;
    padding: 0.5em 0.5em 0.5em 1em;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-size: 18px;
    border: 1px solid var(--textColor);
    border-radius: 5px;
}


.calendar-view-edit-hour {
    width: 100%;
    flex-direction: column;
    margin-top: 15%;
}

.calendar-view-edit-hour-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
    flex-direction: row;
}

.calendar-view-edit-hour-input>input {
    width: 90%;
    border: 1px solid var(--textColor);
    border-radius: 10px;
    font-size: 18px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: var(--textColor);
    margin-right: 5vw;
}

.calendar-view-edit-description {
    flex-direction: column;
    margin-top: 20%;
}

.calendar-view-edit-description>textarea {
    width: 90%;
    height: 100px;
    resize: none;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-size: 18px;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    padding: 5% 5% 5% 5%;
}

/* create */
.calendar-view-create-hidden {
    display: none !important;
}

.calendar-view-create-main-container {
    position: fixed;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.calendar-view-create {
    overflow-y: scroll;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    box-shadow: 0 0px 5px var(--textColor);
    opacity: 1;
    transform: none;
    transition: opacity 280ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 186ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 145.898px 0px;
    width: 90%;
    height: 100vh;
}

.calendar-view-create-header {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 5%;
    padding-right: 10%;
    margin-top: 13vh;
}

.calendar-view-create-header-close-button {
    width: 25px;
    height: 25px;
    fill: currentColor;
}

.calendar-view-create-header-delete-button {
    width: 25px;
    height: 25px;
    fill: currentColor;
    margin-right: 15%;
    padding-right: 15%;
    border-right: 0.5px solid var(--textColor);
}

.calendar-view-create-contents {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    font-family: "Consolas";
    color: var(--textColor);
    margin-bottom: 12vh;
}

.calendar-view-create-title {
    flex-direction: column;
    width: 100%;
    margin-top: 15%;

}

.calendar-view-create-title>input {
    width: 90%;
    padding: 0.5em 0.5em 0.5em 1em;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-size: 18px;
    border: 1px solid var(--textColor);
    border-radius: 5px;
}


.calendar-view-create-hour {
    width: 100%;
    flex-direction: column;
    margin-top: 15%;
}

.calendar-view-create-hour-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
    flex-direction: row;
}

.calendar-view-create-hour-input>input {
    width: 90%;
    border: 1px solid var(--textColor);
    border-radius: 10px;
    font-size: 18px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: var(--textColor);
    margin-right: 5vw;
}

.calendar-view-create-description {
    flex-direction: column;
    margin-top: 20%;
}

.calendar-view-create-description>textarea {
    width: 90%;
    height: 100px;
    resize: none;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-size: 18px;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    padding: 5% 5% 5% 5%;
}

button {
    margin-left: 49vw;
    margin-top: 15%;
    margin-bottom: 15%;
    border-style: none;
    color: var(--textColor);
    font-size: 14px;
    background-color: var(--blue);
    border: 0;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.calendar-view-create-send-button>button:focus {
    pointer-events: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    border-style: none;
    border-width: 0px;
    border: none;
    fill: none;
    padding: 0 0 0 0;
}

input {
    border: none;
    background: none;
    border-style: none;
    border-width: 0px;
    padding: 0 0 0 0;

}

:focus {
    outline-color: transparent;
    outline-style: none;
}