.MenuSettings__main-container {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	background-color: var(--backgroundColor);
	transform: translateX(0px);
	transition: all 0.3s;
	z-index: 99999999999999;
}

.language-switcher {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.language-switcher>div>select {
	background-color: var(--blue);
	color: white;
	font-family: Consolas;
	font-size: 1.3rem;
	border-radius: 5px;
	padding: 15px;
	border: none;
	margin-top: 20px;
}

.MenuSettings__main-container>ul {
	width: 100%;
	height: 91%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.MenuSettings__main-container>ul>li {
	font-family: Consolas;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	transform: scale(0.8);
	color: var(--textColor);
	font-size: 200%;
}

#darkModes {
	height: 20%;
	border: 0px solid var(--blue);
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
	overflow: hidden;
}

#darkModes>li {
	flex: 1;
	list-style: none;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(41, 99, 133);
}

#darkModes>li>svg {
	height: 30px;
	width: 30px;
	fill: white;
}

.activeMode {
	background-color: var(--blue) !important;
}