.menu_calendarOption_hidden{
    display: none !important;
    opacity: 0;
}
.menu_calendarOption_container{
    height: 100vh;
    width: 100vw;
}
.menu-calendar{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 0, 0);
    transform: translateX(0px);
    transition: all 0.3s;
    z-index: 99999999999999;
}
