.profileSettings_container {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	background-color: var(--backgroundColor);
	transform: translateX(0px);
	transition: all 0.3s;
	z-index: 99999999999999;
}

.profileSettings_wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 20px;
}

.profileImage_preview {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-top: 20px;
	cursor: pointer;
}

#profileImage_upload {
	display: none;
}

.userProfileImg {
	display: flex;
	flex-direction: column;
}

.userProfileImg>.saveImage {
	margin-top: 20px;
}

.userName_input {
	margin-top: 30px;
}

.userName_input>input {
	border: 2px solid rgba(245, 222, 179, 0);
	border-radius: 5px;
	transition: all 0.2s;
	transform: scale(1.3);
	text-align: center;
	font-weight: 700;
	background: none;
	color: var(--textColor);
}

.userName_input>input:focus {
	outline: none;
	border: 2px solid var(--blue);
}

.file-size-warning {
	color: rgba(228, 0, 0, 0.68);
	text-decoration: underline;
}

.commitChanges {
	display: flex;
	padding: 10px 20px;
	background-color: var(--blue);
	color: white;
	border-radius: 10px;
	cursor: pointer;
}

.commitChanges>span {
	font-family: Consolas;
}

.commit-loader-hide {
	display: none;
}

.commitChanges>svg {
	margin-left: 10px;
}

.loader-spin {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.coursesList {
	list-style: none;
	opacity: 0.7;
	color: var(--textColor);
}

.coursesList>li>p {
	flex: 0.9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Consolas;
}

.coursesList>li>img {
	flex: 0.1;
	width: 100px;
	height: 50px;
}

.textColor {
	color: var(--textColor);
}

.coursesContainer {
	margin-top: 70px;
	width: 90%;
	display: flex;
	padding: 10% 0;
	align-items: center;
	flex-direction: column;
	background-color: #4b90ff10;
	border: 1px solid #4b90ffb8;
	box-shadow: 0 0 6px #4b90ff88;

	border-radius: 20px;
}

.coursesLogo {
	position: absolute;
	transform: translateY(-90%);
	width: 100px;
	height: 100px;
}

.coursesList {
	margin-top: 30px;
	height: 100%;
	overflow-y: auto;
}

.coursesList>li {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--backgroundColor);
	border-radius: 10px;
	color: var(--textColor);
	padding: 0 10px;
	overflow: hidden;
}

.youareadmin {
	position: absolute;
	top: 15vh;
	right: 10px;
	display: flex;
	flex-direction: row;
	color: var(--textColor);
	background-color: rgba(109, 109, 109, 0.193);
	border-radius: 20px;
}

.youareadmin>p {
	flex: 0.8;
	font-size: 14px;
	padding-left: 10px;
	font-family: Consolas;
}

.youareadmin>img {
	flex: 0.2;
	width: 40px;
	height: 40px;
}