.resourceModal-container {
	font-family: Consolas;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 99999999999;
	display: none;
}

.resourcesModal-outside {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.356);
	z-index: 1;
}

.resourceModalScale1 {
	transform: translate(-50%, -50%) scale(1) !important;
}

.resources__createResourceModal {
	width: 40%;
	height: 60%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: all 0.3s ease-in-out;
	background-color: var(--orange);
	border-radius: 10px;
	box-shadow: 0 0 4px rgb(41, 41, 41);
	border: 2px solid rgba(36, 36, 36, 0.034);
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 99999999999;
}

.resources__logoModal {
	position: absolute;
	top: -9%;
}

.resources__logoModal>img {
	width: 80px;
	height: 80px;
}

.resources__createResourceModal>h1 {
	position: absolute;
	top: 5%;
	color: white;
	font-weight: bold;
	font-size: 2.75em;
}

.resources__createResourceModal>form {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-top: 15%;
	transform: scale(1.1);
}

.resources__createResourceModal>form>input {
	font-family: Consolas;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-indent: 10px;
	color: var(--blue);
	font-weight: 900;
	width: 100%;
}

.resources__createResourceModal>form>input::placeholder {
	text-indent: 10px;
	color: var(--blue);
	font-weight: 900;
}

.resources__createResourceModal>form>input:focus {
	outline: none;
}

.fileInputs {
	display: flex;
	flex-direction: row;
	height: 80px;
	width: 100%;
}

.fileInputs>div {
	flex: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fileInputs>div>input {
	width: 100%;
	height: 100%;
	opacity: 0;
	width: 0.1px;
	height: 0.1px;
	position: absolute;
}

.fileInputs>div>label {
	flex: 1;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	fill: white;
}

.file-warning {
	text-align: center;
	color: rgb(228, 0, 0);
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.25em;
}

.submit-action {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#submit-loader {
	display: none;
}

.resources__createResourceModal>form>div>button {
	background-color: white;
	height: 35px;
	border-radius: 5px;
	border: none;
	width: 50%;
	transform: translateX(50%);
	font-weight: bold;
	color: var(--blue);
	cursor: pointer;
	font-family: Consolas;
	font-size: 1em;
}

#resources__closeResourceModal {
	position: absolute;
	bottom: 14%;
	right: 6px;
	border: none;
	border-radius: 5px;
	background-color: rgb(255, 64, 64);
	color: white;
	padding: 8px;
	cursor: pointer;
}

@media (max-width: 750px) {
	.resources__createResourceModal {
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}

	.resources__logoModal {
		position: absolute;
		top: 3%;
	}

	.resources__createResourceModal>h1 {
		position: absolute;
		top: 12%;
		color: white;
	}

	.resources__createResourceModal>form>input {
		width: 100%;
	}

	.resources__createResourceModal>form {
		display: flex;
		flex-direction: column;
		width: 70%;
		margin-top: 15%;
		transform: scale(1.1);
	}
}

@media (min-width: 750px) and (max-width: 1200px) {
	.resources__createResourceModal {
		width: 70%;
		height: 60%;
	}
}

/* spinner */
.loader {
	color: #ffffff;
	font-size: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 25vw;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	-webkit-animation: load4 1.3s infinite linear;
	animation: load4 1.3s infinite linear;
	-webkit-transform: translateZ(0) scale(0.4);
	transform: translateZ(0) scale(0.7);
}

@media screen and (min-width: 750px) {
	.loader {
		margin-left: 12vw;
	}
}

@media screen and (min-width: 1200px) {
	.loader {
		margin-left: 7vw;
	}
}

@-webkit-keyframes load4 {

	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
	}

	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}

	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}

	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}

	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}

	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
	}

	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
	}

	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
	}
}

@keyframes load4 {

	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
	}

	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}

	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}

	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}

	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}

	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
	}

	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
	}

	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
	}
}