# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/logs/*
/data/fs.journal
/data/fs.version
/data/monitoring
/data/profiles
/data/settings
/data/storage/*
/data/samples

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#jsreports
jsreport/data/storage/profiles/**/*.log
